/* work sans  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    width: 180px;
    height: 64px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #FF900E;
    
    color: #FFF;
    cursor: pointer;
    border: 0px;
    margin-top: 30px;
}

/* header styles */

header{
    background:  rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
   
}
nav > ul{
    display: flex;
    
    
}
nav li{
    list-style: none;
    margin-right:30px ;
    
    
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner-styles */

.banner-contain{
    width: 300px;
    text-align: center;
    margin: 0px auto;
}

.banner-title{
    
    
    color: #131313;
}
.banner-description, .teams-description{
    
    color: #727272;
    
}
.banner img{
    margin-top: 20px;
    width: 100%;
    
}




/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}


.teams-container{
    display: flex;
    align-items: center;
    
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px
}

.teams-content{
    padding: 0px 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.teams-title, .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title, .of-our{
   color: #131313; 
   font-weight: 700;
}
.teams-title, .Features{
    color: #FF900E;
    font-weight: 700;
}


/* media queries */
/* mobile device */
@media screen and (max-width:675px) {
    header{
        padding: 20px;
        
    }
    nav,
    .teams-container {
        flex-direction: column;
    }

    nav > ul {
        flex-direction: column;
    }

    .banner-description{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    ..teams-content{
        padding: 0px 20px;
    }

    
}



/* medium-device */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, 
    .teams-container {
        flex-direction: column;
    }
}


